{% extends "otree/Page.html" %}
{% load otree static %}

{% block styles %}

<script src="{% static 'surveyjs/survey.core.min.js' %}"></script>

<link href="{% static 'surveyjs/defaultV2.min.css' %}" type="text/css" rel="stylesheet">

<!-- SurveyJS UI -->
<script src="{% static 'surveyjs/survey-js-ui.min.js' %}"></script>

<!-- SurveyJS Layered Themes -->
<script src="{% static 'surveyjs/layered-dark-panelless.min.js' %}"></script>
<script src="{% static 'surveyjs/layered-light-panelless.min.js' %}"></script>

<!-- SurveyJS Bootstrap Integration -->
<script src="{% static 'surveyjs/bootstrap-integration.min.js' %}"></script>

<!-- Bootstrap and Popper -->
<script src="{% static 'surveyjs/popper.min.js' %}"></script>
<script src="{% static 'surveyjs/bootstrap.min.js' %}"></script>

<!--lodash-->
<script src="{% static 'surveyjs/lodash.min.js' %}"></script>
<style>
    body,
    .otree-body {
        padding-top: 56px;
    }

    nav.navbar.navbar-light.bg-light.justify-content-between.fixed-top {
        --bs-blue: #0d6efd;
        --bs-indigo: #6610f2;
        --bs-purple: #6f42c1;
        --bs-pink: #d63384;
        --bs-red: #dc3545;
        --bs-orange: #fd7e14;
        --bs-yellow: #ffc107;
        --bs-green: #198754;
        --bs-teal: #20c997;
        --bs-cyan: #0dcaf0;
        --bs-white: #fff;
        --bs-gray: #6c757d;
        --bs-gray-dark: #343a40;
        --bs-primary: #0d6efd;
        --bs-secondary: #6c757d;
        --bs-success: #198754;
        --bs-info: #0dcaf0;
        --bs-warning: #ffc107;
        --bs-danger: #dc3545;
        --bs-light: #f8f9fa;
        --bs-dark: #212529;
        --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
        --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
        font-family: var(--bs-font-sans-serif);
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-top: .5rem;
        padding-bottom: .5rem;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
        justify-content: space-between !important;
        background-color: #f8f9fa !important;
    }

    .navbar-nav.flex-grow-1.mx-1 {
        --bs-blue: #0d6efd;
        --bs-indigo: #6610f2;
        --bs-purple: #6f42c1;
        --bs-pink: #d63384;
        --bs-red: #dc3545;
        --bs-orange: #fd7e14;
        --bs-yellow: #ffc107;
        --bs-green: #198754;
        --bs-teal: #20c997;
        --bs-cyan: #0dcaf0;
        --bs-white: #fff;
        --bs-gray: #6c757d;
        --bs-gray-dark: #343a40;
        --bs-primary: #0d6efd;
        --bs-secondary: #6c757d;
        --bs-success: #198754;
        --bs-info: #0dcaf0;
        --bs-warning: #ffc107;
        --bs-danger: #dc3545;
        --bs-light: #f8f9fa;
        --bs-dark: #212529;
        --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
        --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !important;
        --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
        font-family: var(--bs-font-sans-serif);
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        flex-grow: 1 !important;
        margin-right: .25rem !important;
        margin-left: .25rem !important;
    }

    div.progress {
        --bs-blue: #0d6efd;
        --bs-indigo: #6610f2;
        --bs-purple: #6f42c1;
        --bs-pink: #d63384;
        --bs-red: #dc3545;
        --bs-orange: #fd7e14;
        --bs-yellow: #ffc107;
        --bs-green: #198754;
        --bs-teal: #20c997;
        --bs-cyan: #0dcaf0;
        --bs-white: #fff;
        --bs-gray: #6c757d;
        --bs-gray-dark: #343a40;
        --bs-primary: #0d6efd;
        --bs-secondary: #6c757d;
        --bs-success: #198754;
        --bs-info: #0dcaf0;
        --bs-warning: #ffc107;
        --bs-danger: #dc3545;
        --bs-light: #f8f9fa;
        --bs-dark: #212529;
        --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
        --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
        font-family: var(--bs-font-sans-serif);
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
        list-style: none;
        box-sizing: border-box;
        display: flex;
        overflow: hidden;
        font-size: .75rem;
        background-color: #e9ecef;
        border-radius: .25rem;
        height: 30px;
    }

    div.progress-bar {
        height: 100% !important;
        --bs-blue: #0d6efd;
        --bs-indigo: #6610f2;
        --bs-purple: #6f42c1;
        --bs-pink: #d63384;
        --bs-red: #dc3545;
        --bs-orange: #fd7e14;
        --bs-yellow: #ffc107;
        --bs-green: #198754;
        --bs-teal: #20c997;
        --bs-cyan: #0dcaf0;
        --bs-white: #fff;
        --bs-gray: #6c757d;
        --bs-gray-dark: #343a40;
        --bs-primary: #0d6efd;
        --bs-secondary: #6c757d;
        --bs-success: #198754;
        --bs-info: #0dcaf0;
        --bs-warning: #ffc107;
        --bs-danger: #dc3545;
        --bs-light: #f8f9fa;
        --bs-dark: #212529;
        --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
        --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
        font-family: var(--bs-font-sans-serif);
        font-weight: 400;
        line-height: 1.5;
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
        list-style: none;
        font-size: .75rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        background-color: #0d6efd;
        transition: width .6s ease;
        width: 12%;
    }

</style>
{% endblock %}

{% block global_scripts %}
{% endblock %}

{% block body_main %}
{% block progress %}
<script>
    window.progress = {{progress}};

    window.maxpages = {{maxpages}};

</script>

<nav class="navbar navbar-light bg-light justify-content-between fixed-top">
    <div class="navbar-nav flex-grow-1 mx-1">
        <div class="progress " style="height: 30px;">
            <div class="progress-bar" role="progressbar" style="width: {{ progress }}%"
                 aria-valuenow="{{ progress }}"
                 aria-valuemin="0" aria-valuemax="100">
                <b> {{ progress }}%</b></div>
        </div>
    </div>
    {% if instructions %}


    <div class="mx-1">
        <button class="btn   btn-success" id="instruction_button" data-bs-toggle="modal"
                data-bs-target="#instructionsModal"
                style="margin:0px">
            Instructions
        </button>
    </div>


    {% endif %}
</nav>

{% endblock %}


    <div class="modal fade" id="instructionsModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Instructions</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% include "trader_bridge_app/includes/instructions.html" %}

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
{{ super() }}


{% endblock %}





